body {
  background-color: rgb(232, 232, 250);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: rgb(111, 111, 235);
  text-decoration: none;
}

.humid-wind {
  color: rgb(111, 111, 235);
  font-weight: bold;
}

.container {
  border: none;
  border-radius: 15px;
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  display: block;
  margin: 65px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  text-align: center;
  border-bottom: 1px solid rgba(111, 111, 235, 0.116);
  padding-bottom: 30px;
}

.form-group .search-box {
  width: 75%;
  padding: 15px;
  font-size: 16px;
  border: none;
  background-color: rgba(223, 223, 250, 0.3);
  border-radius: 10px;
}
.form-group .search-button {
  width: 95px;
  padding: 15px;
  font-size: 16px;
  background-color: rgb(111, 111, 235);
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.form-group .search-button:hover {
  background-color: rgb(86, 86, 221);
  cursor: pointer;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 35px;
  font-weight: 900;
  color: rgba(86, 86, 221, 0.8);
  margin: 0;
}

.current-details {
  color: rgba(82, 82, 172, 0.781);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: rgb(111, 111, 235);
}

.current-temp-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}
.current-temp-value {
  font-size: 70px;
  color: rgba(86, 86, 221, 0.8);
  font-weight: bold;
}
.current-temp-symbol {
  font-size: 25px;
  font-weight: 600;
  color: rgba(86, 86, 221, 0.8);
  position: relative;
  top: -35px;
}

footer p {
  font-size: 13px;
  text-align: center;
  color: rgba(44, 44, 97, 0.6);
  border-top: 1px solid rgba(111, 111, 235, 0.116);
  padding-top: 15px;
}
